# Core Framework
Django==5.0.3

# REST Framework & Integrations
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
django-filter==24.1

# Database
psycopg[binary]

# Utilities
python-dotenv==1.0.1